<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>{{ app_name }}</title>

        <style>
            .fade-me-out.htmx-swapping {
              opacity: 0;
              transition: opacity 1s ease-out;
            }
        </style>
    </head>
    <body>
        <script src="https://unpkg.com/htmx.org@0.4.0"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
                <div class="card-columns">
                {{#each links as |link|}}
                <div class="card" id="card-{{ link.0 }}" class="fade-me-out">
                    <div class="card-body">
                        <h5 class="card-title">{{ link.2 }}</h5>
                        <p class="card-text">{{ link.2 }}</p>
                        <a href="{{ link.1 }}" target="_blank" class="btn btn-primary">Read</a>
                        <div class="btn btn-danger" hx-swap="outerHTML" hx-target="#card-{{ link.0 }}" hx-delete="/archive/{{ link.0 }}">Archive</div>
                    </div>
                </div>
                {{/each}}
                </div>
    </body>
</html>